@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "./Colours.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.heading_container {
  width: 100%;
  font-size: 1.4rem;
  margin: 0;

  > .heading {
    display: flex;
    justify-content: center;

    > h1 {
      width: 90%;
      margin: 0;
      font-weight: 400;
    }
  }
}

.home_heading_description {
  width: 40%;
  height: 20vh;
}
